#users{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.people{
    border:solid rgb(207, 85, 15);
    border-radius: 8px;
    margin-bottom: 3%;
    text-align: center;
}
.user-list{
    text-align: center;
}
.new-user{
    border:none;
    padding:12px 20px;
    font-size: 10px;
    margin: 2%;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor:pointer;
}